@import '../vars';

.tictactoe {

	@extend .fullsize;

	h1 {
		text-align: center;
		margin: 10px;
		border-bottom: 2px ridge;
	}

	.tictactoe-inner, 
	.tictactoe-board {
		@extend .fullsize;
	}

	.tictactoe-info {
		border-top: 2px groove;
		margin-top: 10px;
		padding-top: 10px;

		span { font-weight: bold; }
	}
}
